{"year": "2016", "text": "别只能想自己，想你周围的人。还有你，如果你是一个家庭的爸爸，你多想自己的孩子；如果你是青少年你多想自己的未来；那你可以禁烟了。", "correction": "别只想自己，要想想你周围的人。还有，如果你是一个家庭的爸爸，你要多想想自己的孩子；如果你是青少年你要多想想自己的未来；那你就可以戒烟了。", "wrong": [["3", "3", "R"], ["8", "8", "M"], ["9", "9", "M"], ["17", "17", "R"], ["32", "32", "M"], ["34", "34", "M"], ["48", "48", "M"], ["50", "50", "M"], ["58", "58", "M"], ["60", "60", "S"]]}
{"year": "2016", "text": "若父母主动和孩子平起平坐，倾心交谈，互相充分理解对方，会能够大幅减少互相抱怨的情况。", "correction": "若父母主动和孩子平起平坐，倾心交谈，互相充分理解对方，会大幅减少互相抱怨的情况。", "wrong": [["29", "30", "R"]]}
